:root {
    --canvas: #D8E9A8;
    --pot-shadow: #a5b381;
    --pot-base: #0F0E0E; 
    --pot-middle-gray: #191A19;
    --pot-blik: #545754;
    --buble-base: #55ad43;
    --buble-border: #4E9F3D;
    --buble-middle-blik: #66c553;
    --buble-blik: #a9db9f;
    --skin-color: #E3B7A0;
    --bone-color: #8d918d;
    --eyeball-iris: #56BBF1;
    --eyeball-iris-inside: #282928;
    --eyeball-bg: #f8ece5;
    --eyeball-border: #f7b993;
    --iris-blik: #f7f1f1;
  }

html, body {
    height: 100%;
}
.canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 95vmin;
    width: 95vmin;
    background-color: var(--canvas);
}
/* POT */
.pot-shadow {
    position: absolute;
    top: 65%;
    left: 18%;
    transform: skew(120deg, 15deg);
    height: 15vmin;
    width: 45vmin;
    background-color: var(--pot-shadow);
    border-radius: 50%;
}
.jumping-eyeball-shadow {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: skew(120deg, 15deg);
    height: 1.7vmin;
    width: 5vmin;
    background-color: var(--pot-shadow);
    border-radius: 50%;
    opacity: .7;
    animation: shadow 1.2s infinite;
}
@keyframes shadow {
    50% {
        opacity: 0;
        left: 73%;
        height: 3.4vmin;
        width: 10vmin;
    }
    100% {
        opacity: .7;
    }
}
/* Hand */
.hand {
    position: absolute;
    top: 15%;
    left: 26%;
    height: 30vmin;
    transform: rotate(-40deg);
    width: 18vmin;
    animation: moving-hand 1.5s infinite;
}
@keyframes moving-hand {
    50% {
        top: 14%;
    }
    100% {
        top: 15%;
    }
}
.palm {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7vmin;
    width: 8vmin;
    background-color: var(--skin-color);
    border-radius: 3vmin;
}
/* Elbow */
.palm::after {
    content: '';
    display: block;
    position: absolute;
    top: 14vmin;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15vmin;
    width: 5vmin;
    background-color: var(--skin-color);
}
.thumb {
    position: absolute;
    top: 23%;
    left: 20%;
    transform: rotate(-50deg);
    height: 7vmin;
    width: 2vmin;
    background-color: var(--skin-color);
    border-radius: 1vmin;
}
/* pointer finger */
.thumb::after {
    content: '';
    display: block;
    position: absolute;
    top: .3vmin;
    left: 3.5vmin;
    transform: rotate(40deg);
    height: 4vmin;
    width: 1.8vmin;
    background-color: var(--skin-color);
    border-radius: .5vmin;
}
.bone {
    position: absolute;
    top: 12%;
    left: 30%;
    transform: rotate(-15deg);
    height: 3vmin;
    width: .8vmin;
    background-color: var(--bone-color);
    border-radius: 1vmin;
}
/* bone circle parts on the top */
.bone::before {
    content: '';
    display: blocks;
    position: absolute;
    top: -.6vmin;
    left: .1vmin;
    transform: rotate(-15deg);
    height: 1vmin;
    width: 1vmin;
    background-color: var(--bone-color);
    border-radius: 50%;
}
.bone::after {
    content: '';
    display: blocks;
    position: absolute;
    top: -.6vmin;
    left: -.7vmin;
    transform: rotate(-15deg);
    height: 1vmin;
    width: 1vmin;
    background-color: var(--bone-color);
    border-radius: 50%;
}
.middle-finger {
    position: absolute;
    top: 18%;
    left: 46%;
    transform: translate(-50%, -50%);
    height: 7vmin;
    width: 1.8vmin;
    background-color: var(--skin-color);
    border-radius: 1vmin;
}
/* The one between middle and last one */
.middle-finger::before {
    content: '';
    display: block;
    position: absolute;
    top: .6vmin;
    left: 2.2vmin;
    transform: rotate(5deg);
    height: 7vmin;
    width: 1.6vmin;
    background-color: var(--skin-color);
    border-radius: 1vmin;
}
/* last finger */
.middle-finger::after {
    content: '';
    display: block;
    position: absolute;
    top: 2vmin;
    left: 4vmin;
    transform: rotate(10deg);
    height: 7vmin;
    width: 1.4vmin;
    background-color: var(--skin-color);
    border-radius: 1vmin;
}
/* EYE */
.eyeball {
    position: absolute;
    top: 30%;
    left: 52%;
    height: 5vmin;
    width: 5vmin;
    background-color: var(--eyeball-bg);
    border-radius: 50%;
    border: .5vmin solid var(--eyeball-border);
    animation: eyeball 1.1s infinite;
}
@keyframes eyeball{
    50% {
        top: 29%;
    }
    100% {
        top: 30%;
    }
}
.iris {
    position: absolute;
    top: 10%;
    left: 15%;
    height: 2.5vmin;
    width: 2.5vmin;
    background-color: var(--eyeball-iris);
    border-radius: 50%;
}
.iris::before {
    content: '';
    display: block;
    position: absolute;
    top: 18%;
    left: 18%;
    height: 1.5vmin;
    width: 1.5vmin;
    background-color: var(--eyeball-iris-inside);
    border-radius: 50%;
}
.iris::after {
    content: '';
    display: block;
    position: absolute;
    top: 18%;
    left: 48%;
    height: .5vmin;
    width: .5vmin;
    background-color: var(--iris-blik);
    border-radius: 50%;
}
.jumping-eyeball {
    position: absolute;
    top: 72%;
    left: 76%;
    height: 4.5vmin;
    width: 5vmin;
    background-color: var(--eyeball-bg);
    border-radius: 50%;
    border: .5vmin solid var(--eyeball-border);
    animation: jumping-eyeball 1.2s ease-out infinite;
}
@keyframes jumping-eyeball{
    50% {
        top: 55%;
        height: 5vmin;
    }
    60% {
        top: 55%;
    }
    90% {
        height: 5vmin;
    }
    100% {
        top: 72%;
    }
}
/* POT */
.pot-top {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4vmin;
    width: 32vmin;
    background-color: var(--pot-base);
    border-radius: 2vmin;
    z-index: 99;
}
/* middle shade blik on the lip of the pot */
.pot-top::before {
    content: '';
    display: block;
    position: absolute;
    top: 10%;
    right: 5%;
    height: 3vmin;
    width: 20vmin;
    background-color: var(--pot-middle-gray);
    border-radius: 1.5vmin;
    z-index: 99;
}
/* lightest blik on the lip of the pot */
.pot-top::after {
    content: '';
    display: block;
    position: absolute;
    top: .8vmin;
    right: 3vmin;
    height: 1.5vmin;
    width: 8vmin;
    background-color: var(--pot-blik);
    border-radius: 1.5vmin;
    z-index: 99;
}
.pot-neck {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vmin;
    width: 28vmin;
    background-color: var(--pot-base);
    border-radius: 50%;
    z-index: 90;
}
/* two circles for curving pot neck */
.pot-neck::after {
    content: '';
    display: block;
    position: absolute;
    top: 2.6vmin;
    left: -3.9vmin;
    height: 6vmin;
    width: 6vmin;
    background-color: var(--canvas);
    border-radius: 50%;
    box-shadow: 29.8vmin 0 var(--canvas);
}
.pot-body {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35vmin;
    width: 40vmin;
    background-color: var(--pot-base);
    border-radius: 50%;
}
/* dark shade blik on the pot body */
.pot-body::before {
    content: '';
    display: block;
    position: absolute;
    top: 2vmin;
    left: 10vmin;
    height: 28vmin;
    width: 28vmin;
    background-color: var(--pot-middle-gray);
    border-radius: 50%;
}
/* lightest blik on the pot body */
.pot-body::after {
    content: '';
    display: block;
    position: absolute;
    transform: rotate(-20deg);
    top: 8vmin;
    right: 7vmin;
    height: 7vmin;
    width: 4vmin;
    background-color: var(--pot-blik);
    border-radius: 50%;
}
/* pot handles */
.pot-handle {
    position: absolute;
    top: 48%;
    left: 27%;
    height: 7vmin;
    width: 7vmin;
    background-color: var(--pot-base);
    border-radius: 50%;
    box-shadow: 37vmin 0 var(--pot-base);
    z-index: -1;
}
/* blik on the pot handles */
.pot-handle::before {
    content: '';
    display: block;
    position: absolute;
    top: .4vmin;
    left: 2vmin;
    height: .8vmin;
    width: 2vmin;
    background-color: var(--pot-blik);
    border-radius: 50%;
    box-shadow: 38vmin 0 var(--pot-blik);
}
/* pot handle hollow insides */
.pot-handle::after {
    content: '';
    display: block;
    position: absolute;
    top: 26%;
    left: 30%;
    height: 3vmin;
    width: 3vmin;
    background-color: var(--canvas);
    border-radius: 50%;
    box-shadow: 37vmin 0 var(--canvas);
}
/* left leg */
.pot-leg {
    position: absolute;
    top: 71%;
    left: 35%; 
    transform: translate(-50%, -50%);
    transform: rotate(25deg);
    height: 7vmin;
    width: 3vmin;
    background-color: var(--pot-base);
    border-radius: 50%;
}
/* right leg */
.pot-leg::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 11vmin;
    left: 23vmin; 
    transform: translate(-50%, -50%);
    transform: rotate(-50deg);
    height: 7vmin;
    width: 3vmin;
    background-color: var(--pot-base);
    border-radius: 50%;
}
/* Moving bubles in the pot */
.pot-buble {
    position: absolute;
    height: 8vmin;
    width: 8vmin;
    background-color: var(--buble-base);
    border-radius: 50%;
    border: .5vmin solid var(--buble-border);
}
.pot-buble::before {
    content: '';
    display: block;
    position: absolute;
    top: .5vmin;
    left: 1.5vmin;
    height: 5vmin;
    width: 5vmin;
    border-radius: 50%;
    background-color: var(--buble-middle-blik);
}
.pot-buble::after {
    content: '';
    display: block;
    position: absolute;
    top: .5vmin;
    left: 4vmin;
    height: 2vmin;
    width: 2vmin;
    border-radius: 50%;
    background-color: var(--buble-blik);
}
.pot-buble1 {
    top: 33%;
    left: 53%;
    animation: move1 1s infinite;
}
@keyframes move1 {
    50% {
        top: 32%;
        height: 8.5vmin;
        width: 8.5vmin;
    }
    100% {
        top: 33%;
        height: 8vmin;
        width: 8vmin;
    }
}
.pot-buble2 {
    top: 33%;
    left: 45%;
    animation: move2 1.5s infinite;
}
@keyframes move2 {
    0% {
        top: 32%;
        height: 9vmin;
        width: 9vmin;
    }
    50% {
        top: 31%;
        height: 9.5vmin;
        width: 9.5vmin;
    }
    100% {
        top: 32%;
        height: 9vmin;
        width: 9vmin;
    }
}
.pot-buble3 {
    top: 33%;
    left: 38%;
    animation: move3 1.2s infinite;
}
@keyframes move3 {
    0% {
        height: 7.5vmin;
        width: 7.5vmin;
    }
    50% {
        top: 32%;
        height: 8vmin;
        width: 8vmin;
    }
    100% {
        top: 33%;
        height: 7.5vmin;
        width: 7.5vmin;
    }
}
/* Evaporating bubles */
.buble {
    position: absolute;
    height: 5vmin;
    width: 5vmin;
    background-color: var(--buble-base);
    border-radius: 50%;
    border: .5vmin solid var(--buble-border);
}
.buble::before {
    content: '';
    display: block;
    position: absolute;
    top: .5vmin;
    left: 1vmin;
    height: 3.5vmin;
    width: 3.5vmin;
    border-radius: 50%;
    background-color: var(--buble-middle-blik);
}
.buble::after {
    content: '';
    display: block;
    position: absolute;
    top: .5vmin;
    left: 2vmin;
    height: 1.5vmin;
    width: 1.5vmin;
    border-radius: 50%;
    background-color: var(--buble-blik);
}
.buble1 {
    top: 40%;
    left: 42%;
    animation: burst1 4s ease-out infinite;
}
.buble1::after {
    top: .5vmin;
    left: 2.5vmin;
}
@keyframes burst1 {
	0% {
		opacity: 1;
        top: 40%;
        height: 6vmin;
        width: 6vmin;
	}
    80% {
        opacity: 0.8;
    }
	100% {
		opacity: 0;
		top: 5%;
        height: 6vmin;
        width: 6vmin;
	}
}
.buble2 {
    top: 40%;
    left: 47%;
    animation: burst2 3s ease-out 1s infinite;
}
.buble2::before {
    top: .3vmin;
    left: .8vmin;
}
@keyframes burst2 {
	0% {
		opacity: 1;
        top: 40%;
        height: 5.5vmin;
        width: 5.5vmin;
	}
    80% {
        opacity: 0.8;
    }
	100% {
		opacity: 0;
		top: 5%;
        height: 5.5vmin;
        width: 5.5vmin;
	}
}
.buble3 {
    top: 40%;
    left: 50%;
    height: 6vmin;
    width: 6vmin;
    animation: burst3 3s ease-out infinite;
}
.buble3::before {
    top: .5vmin;
    left: 1vmin;
    height: 3.5vmin;
    width: 3.5vmin;
}
.buble3::after {
    top: .7vmin;
    left: 2.5vmin;
}
@keyframes burst3 {
	0% {
		opacity: 1;
        top: 40%;
	}
    80% {
        opacity: 0.8;
    }
	100% {
		opacity: 0;
		top: 5%;
	}
}
.buble4 {
    top: 40%;
    left: 55%;
    animation: burst4 3s ease-out 2s infinite;
}
.buble4::before {
    top: .5vmin;
    left: .8vmin;
    height: 3vmin;
    width: 3vmin;
}
@keyframes burst4 {
	0% {
		opacity: 1;
        top: 40%;
	}
    80% {
        opacity: 0.8;
    }
	100% {
		opacity: 0;
		top: 5%;
	}
}
.buble5 {
    top: 40%;
    left: 55%;
    animation: burst5 3s ease-out 1s infinite;
}
.buble5::before {
    top: .3vmin;
    left: .8vmin;
    height: 3vmin;
    width: 3vmin;
}
@keyframes burst5 {
	0% {
		opacity: 1;
        top: 40%;
	}
    80% {
        opacity: 0.8;
    }
	100% {
		opacity: 0;
		top: 5%;
	}
}
.buble6 {
    top: 40%;
    left: 53%;
    animation: burst6 2s ease-out infinite;
}
.buble6::before {
    top: .5vmin;
    left: 1vmin;
    height: 3vmin;
    width: 3vmin;
}
@keyframes burst6 {
	0% {
		opacity: 1;
        top: 40%;
	}
    80% {
        opacity: 0.8;
    }
	100% {
		opacity: 0;
		top: 5%;
	}
}
.buble7 {
    top: 40%;
    left: 44%;
    animation: burst7 2s ease-out 1s infinite;
}
.buble7::before {
    top: .3vmin;
    left: .8vmin;
    height: 3vmin;
    width: 3vmin;
}
@keyframes burst7 {
	0% {
		opacity: 1;
        top: 40%;
	}
    80% {
        opacity: 0.8;
    }
	100% {
		opacity: 0;
		top: 5%;
	}
}
.drip {
    position: absolute;
    top: 35%;
    left: 40%;
    height: 8vmin;
    width: 4vmin;
    background-color: var(--buble-base);
    border-radius: 4vmin;
    border: .5vmin solid var(--buble-border);
    z-index: 999;
    animation: drip 1s linear infinite;
}
.drip::before {
    content: '';
    display: block;
    position: absolute;
    top: .5vmin;
    left: 1vmin;
    height: 6vmin;
    width: 2vmin;
    border-radius: 2vmin;
    background-color: var(--buble-middle-blik);
}
.drip::after{
    content: '';
    display: block;
    position: absolute;
    top: 1vmin;
    left: 1.8vmin;
    height: 4vmin;
    width: 1vmin;
    border-radius: 2vmin;
    background-color: var(--buble-blik);
}
@keyframes drip {
    100% {
        height: 12vmin;
    }
}
.drip-buble {
    position: absolute;
    top: 45%;
    left: 40%;
    height: 4vmin;
    width: 4vmin;
    background-color: var(--buble-base);
    border-radius: 50%;
    border: .5vmin solid var(--buble-border);
    opacity: 0;
    animation: buble-dripping 1s ease-in 1s infinite;
    z-index: 999;
}
.drip-buble::before {
    content: '';
    display: block;
    position: absolute;
    left: .3vmin;
    height: 2.8vmin;
    width: 2.8vmin;
    border-radius: 50%;
    background-color: var(--buble-middle-blik);
}
.drip-buble::after {
    content: '';
    display: block;
    position: absolute;
    top: .5vmin;
    left: 1.5vmin;
    height: 1vmin;
    width: 1vmin;
    border-radius: 50%;
    background-color: var(--buble-blik);
}
@keyframes buble-dripping {
    0% {
        opacity: 1;
    }
    100% {
        top: 75%;
        opacity: 1;
    }
}
.drip-on-the-floor {
    position: absolute;
    top: 78%;
    left: 38%;
    height: 4vmin;
    width: 10vmin;
    background-color: var(--buble-base);
    border-radius: 50%;
    border: .5vmin solid var(--buble-border);
    animation: drip-on-the-floor 1s 1s infinite;
}
.drip-on-the-floor::before {
    content: '';
    display: block;
    position: absolute;
    left: 1vmin;
    height: 2.5vmin;
    width: 6vmin;
    border-radius: 50%;
    background-color: var(--buble-middle-blik);
}
.drip-on-the-floor::after {
    content: '';
    display: block;
    position: absolute;
    top: .5vmin;
    left: 1.5vmin;
    height: 1.5vmin;
    width: 3vmin;
    border-radius: 50%;
    background-color: var(--buble-blik);
}
@keyframes drip-on-the-floor {
    99% {
        left: 38%;
        width: 10vmin;
    }
    100% {
        left: 37%;
        width: 12vmin;
    }
}